<%= form_with(model: twitter, local: true, class: 'text-center border border-light p-5') do |form| %>
  <p class="h4 mb-4">Tweet</p>
  <% if twitter.errors.any? %>
    <div id="error_explanation">
      <h2>Fix below <%= pluralize(twitter.errors.count, "error") %> errors:</h2>

      <ul>
        <% twitter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="message">Your tweet</label>
    <%= form.text_area :message, class: 'form-control mb-4', required: true, maxlength: 280, data:{countshow: '#remaining', countable: 1}, rows: 3 %>
    <div class="small text-muted">Remaining Characters: <span id="remaining">280</span></div>
  </div>


  <%= form.submit 'Save Tweet', class:'btn btn-info' %>

<% end %>
