
<%if notice %>
  <p id="notice" class="alert alert-info pt-3"><%= notice %></p>
 <% end %>

<h1>Tweets</h1>

<table class="table table-responsive-lg">
  <thead>
    <tr>
      <th class="col-md-8">Tweet</th>
      <th class="col-md-2"></th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitters.each do |twitter| %>
      <tr>
        <td class="col-md-8">
          <p><%= twitter.message %></p>
          <p class="text-muted small"><%= twitter.created_at.to_s(:long_ordinal)%></p>
        </td>
        <td class="col-md-2">
          <%= link_to 'Edit', edit_twitter_path(twitter) %>
        </td>
        <td class="col-md-2">
          <%= link_to 'X', twitter, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter', new_twitter_path, class: 'btn btn-info' %>
